.Parentbox {
  width: 80%;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
}

.Foto {
  float: left;
  margin-top: 50px;
  width: 50%;
  height: 700px;
}

.Foto img {
  width: 100%;
}

.Deskripsi {
  width: 40%;
  overflow: hidden;
  float: right;
  margin-left: 30px;
}

.Deskripsi .Info {
  line-height: 1.5;
  color: rgb(47, 79, 79);
}

.Deskripsi .Price {
  font-size: 20px;
  font-weight: 500;
}

.Deskripsi .Title {
  margin: 0;
}

.Deskripsi .Cate {
  color: #708090;
}

.Deskripsi a {
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  background: rgb(0, 0, 0);
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  font-size: 10px;
  border-radius: 4px;
  transition: all 0.8s;
}

.Deskripsi a:hover {
  color: antiquewhite;
  background: rgb(47, 79, 79);
  transition: all 0.8s;
}
